*{
    padding: 0px;
    margin: 0px;
}

/* Base Game */

#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    position: fixed;
    top: 0px;
    left: 0px;
}

#character {
    width: 20px;
    height: 50px;
    background-color: crimson;
    position: relative;
    top: 150px;
}

#obstacle {
    width: 20px;
    height: 20px;
    background-color: coral;
    position: relative;
    top: 130px;
    left: 480px;
    animation: obstacle 2s infinite linear;
}

.animate {
    animation: jump 500ms; 
}

@keyframes obstacle {
    0% {left: 480px;}
    100% {left: -40px;}
}

@keyframes jump {
    0% {top: 150px;}
    30% {top: 100px;}
    70% {top: 100px;}
    100% {top: 150px;}
}


/* Threejs Stuff */
canvas {
    top: 201px;
    left: 0px;
    position: fixed;
    width: 500px;
    height: 200px;
    
    border: 5px solid purple;
    background-color: black;
}


